#virtual environment
venv/
#python cache
__pycache__/
*.pyc
#macOS files
.DS_Store
#jupyter
.ipynb_checkpoints/
#model files
*.pkl
#environment variables
.env
# Large datasets
data/*.csv
#,odels
*.pk
#conda installer
Miniconda3-latest-MacOSX-arm64.sh
#results/images
results/